<form class="flexcol" autocomplete="off">
  <fieldset>
    <legend>{{localize "VESI.HEXTOOL.Visibility"}}</legend>
    {{#if hex.page}}
      <div class="form-group">
        <label
          data-tooltip="{{localize 'VESI.HEXTOOL.ShowEncounterTooltip'}}"
          aria-label="{{localize 'VESI.HEXTOOL.ShowEncounterTooltip'}}"
        >{{localize "VESI.HEXTOOL.ShowEncounter"}}</label>
        <input
          type="checkbox"
          name="showEncounter"
          {{checked hex.showEncounter}}
        />
      </div>
    {{/if}}
    <div class="form-group">
      <label data-tooltip="{{localize 'VESI.HEXTOOL.ShowResourcesTooltip'}}" aria-label="{{localize 'VESI.HEXTOOL.ShowResourcesTooltip'}}">{{localize 'VESI.HEXTOOL.ShowResources'}}</label>
      <input type="checkbox" name="showResources" {{checked showResources}}>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize 'VESI.HEXTOOL.Exploration'}}</legend>
    <div class="form-group">
      <label data-tooltip="{{localize 'VESI.HEXTOOL.ExplorationStatusTooltip'}}" aria-label="{{localize 'VESI.HEXTOOL.ExplorationStatusTooltip'}}">{{localize 'VESI.HEXTOOL.ExplorationStatus'}}</label>
      <div class="form-fields">
        <select name="exploration">
          {{selectOptions explorationStates selected=hex.exploration nameAttr="value" valueAttr="value" labelAttr="label" localize=true}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label data-tooltip="{{localize 'VESI.HEXTOOL.ClearedTooltip'}}" aria-label="{{localize 'VESI.HEXTOOL.ClearedTooltip'}}">{{localize 'VESI.HEXTOOL.Cleared'}}</label>
      <input type="checkbox" name="cleared" {{checked hex.cleared}}> 
    </div>
    <div class="form-group">
      <label data-tooltip="{{localize 'VESI.HEXTOOL.ClaimedTooltip'}}" aria-label="{{localize 'VESI.HEXTOOL.ClaimedTooltip'}}">{{localize 'VESI.HEXTOOL.Claimed'}}</label>
      <input type="checkbox" name="claimed" {{checked hex.claimed}}>
    </div>
  </fieldset>

  <fieldset>
		<legend>{{localize 'VESI.HEXTOOL.Resources'}}</legend>
		<div class="form-group">
			<label>{{localize 'VESI.HEXTOOL.Commodities'}}</label>
			<div class="form-fields">
				<select name="commodity">
					{{selectOptions commodities selected=hex.commodity nameAttr="id" valueAttr="id" labelAttr="label" localize=true blank=""}}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label>{{localize 'VESI.HEXTOOL.Camp'}}</label>
			<div class="form-fields">
				<select name="camp">
					{{selectOptions camps selected=hex.camp nameAttr="id" valueAttr="id" labelAttr="label" localize=true blank=""}}
				</select>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>
			{{localize 'VESI.HEXTOOL.Features'}}
			<button type="button" data-action="addFeature">
				<i class="fa-solid fa-plus"></i>
				<span>{{localize 'VESI.HEXTOOL.Add'}}</span>
			</button>
		</legend>
		{{#each hex.features as |feature i|}}
		{{> (lookup @root "featurePartial") id=i type=feature.type name=feature.name discovered=feature.discovered
				features=@root.features}}
		{{/each}}
	</fieldset>

	<footer>
		<button type="submit">
			<i class="fa-solid fa-save"></i>
			<span>{{localize 'VESI.HEXTOOL.Save'}}</span>
		</button>
	</footer>
</form>
